<template>
    <div class="snowflake-generator">
        <snowflake-icon 
            v-for="(snowflake, index) in snowflakes" 
            :key="index"
            :x="snowflake.x"
            :y="snowflake.y" />
    </div>
</template>

<script>
import SnowflakeIcon from "./SnowflakeIcon";
import { tap } from "lodash";

const NUMBER = 100;
const MOVEMENT_SPEED = 1;
const REFRESH_SPEED = 20;

export default {
  components: {
    SnowflakeIcon
  },

  data() {
    return {
      snowflakes: []
    };
  },

  mounted() {
    this.start();
  },

  methods: {
    start() {
      setInterval(() => {
        this.snowflakes = this.snowflakes
          .map(snowflake => this.haveFall(snowflake))
          .filter(snowflake => this.isOnViewer(snowflake));

        if (this.snowflakes.length < NUMBER) this.addSnowflake();
      }, REFRESH_SPEED);
    },

    addSnowflake() {
      this.snowflakes.push({
        x: this.randomPosition(),
        y: 0
      });
    },

    isOnViewer(snowflake) {
      return (
        snowflake.x >= 0 &&
        snowflake.x < 100 &&
        snowflake.y >= 0 &&
        snowflake.y < 100
      );
    },

    haveFall(snowflake) {
      return tap(snowflake, () => (snowflake.y += MOVEMENT_SPEED));
    },

    randomPosition() {
      return Math.floor(Math.random() * Math.floor(100));
    }
  }
};
</script>
