<template>
    <span 
        :style="position" 
        class="snowflake">❄</span>
</template>

<script>
export default {
  props: {
    x: {
      type: Number,
      required: true
    },

    y: {
      type: Number,
      required: true
    }
  },

  computed: {
    position() {
      return {
        top: this.y + "vh",
        left: this.x + "vw"
      };
    }
  }
};
</script>

<style scoped>
.snowflake {
  position: fixed;
}
</style>
