<template>
    <div id="app">
        <snowflake-generator />
    </div>
</template>

<script>
import SnowflakeGenerator from "./components/SnowflakeGenerator";

export default {
  components: {
    SnowflakeGenerator
  }
};
</script>
